/**
	index
*/
	div.content {
		width: 70%;
		margin: auto;
	}
	
	section {
		width: 1263px;
		margin: auto;
	}
	.section2 .label {
		margin-bottom: 20px;
		text-align: center;
		font-size: 13px;
		font-weight: 600;
		color: #333;
	}
	
	.section2 .recomand_img {
		width: 175px;
		height: 180px;
		padding: 10px 10px;
	}
	
	.section2 .recomand>div {
		display: inline-block;
	}
	
	.section3>div {
		padding: 50px 0px;
	}
	
	.section3 .simple {
		display: inline-block;
	}
	
	.section3 .simple .simple_img {
		width: 355px;
		height: 450px;
		padding: 10px 8px;
	}
	
	.section4>div {
		padding-top: 50px;
		padding-bottom: 70px;
	}
	
	.section2>div {
		text-align: center;
		margin: 40px 60px;
	}
	
	.section3 {
		text-align: center;
		border-top: 1px solid lightgray;
	}
	
	.section4 {
		text-align: center;
	}
	
	.section4 .quick {
		display: inline-block;
		padding: 50px;
	}
	
	.section4 .effect1 {
		display: inline-block;
		width: 200px;
		height: 200px;
		background: url('http://localhost:9000/sist_project_2/images/quick_menu_3.png')
	}
	
	.section4 .effect2 {
		display: inline-block;
		width: 200px;
		height: 200px;
		background: url('http://localhost:9000/sist_project_2/images/quick_menu_4.png')
	}
	
	.section4 .effect3 {
		display: inline-block;
		width: 200px;
		height: 200px;
		background: url('http://localhost:9000/sist_project_2/images/quick_menu_2.png')
	}
	
	.section4 .effect1:hover {
		background: url('http://localhost:9000/sist_project_2/images/quick_menu_33.png')
	}
	
	.section4 .effect2:hover {
		background: url('http://localhost:9000/sist_project_2/images/quick_menu_44.png')
	}
	
	.section4 .effect3:hover {
		background: url('http://localhost:9000/sist_project_2/images/quick_menu_22.png')
	}
	
	div.carousel-slide h5 {
		color: black;
		text-align:center;
	}
/**
	header
*/
	header {
		width: 100%;
		margin: auto;
		position: fixed;
		z-index: 5;
	}
	
	*:focus {
		outline: none;
	}
	
	header .mw {
		position: fixed;
		_position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
	}
	
	header .mw .bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: .5;
		filter: alpha(opacity = 50)
	}
	
	header .mw .fg {
		float: left;
		position: absolute;
		width: 400px;
		height: 100%;
		border-radius: 7px;
		border: 3px solid #ccc;
		background: #fff;
	}
	
	header div.fg>nav>ul>li {
		list-style-type: none;
		padding: 10px;
	}
	
	header div.fg button.close_btn {
		display: inline-block;
		float: right;
		margin: 30px 30px 0 0;
		border: 1px solid white;
		width: 50px;
		heigth: 50px;
		background-color: white;
	}
	
	header div.fg>nav.first>ul {
		margin-top: 100px;
		margin-right: 130px;
	}
	
	header div.fg>nav>ul>li:nth-child(2), div.fg>nav>ul>li:nth-child(3), div.fg>nav>ul>li:nth-child(4)
		{
		font-size: 30px;
		font-weight: 2000px;
	}
	
	header div.fg>nav>ul>li:nth-child(5), header div.fg>nav>ul>li:nth-child(6),
		header div.fg>nav>ul>li:nth-child(7), header div.fg>nav>ul>li:nth-child(8),
		header div.fg>nav>ul>li:nth-child(9) {
		font-size: 15px;
		font-weight: 2000px;
	}
	
	header div.fg>nav>ul>li:nth-child(4) {
		padding-bottom: 50px;
	}
	
	header div img.menu_bar {
		display: inline-block;
		float: left;
		margin: 20px 15px 0 30px;
		width: 20px;
		height: 20px;
	}
	
	header div.icons input[type="text"] {
		width: 300px;
		height: 40px;
		background-color: lightgray;
		border: 1px solid lightgray;
		text-indent: 30px;
	}
	
	header .icons img {
		width: 40px; height50px;
		float: left;
		margin-top: 5px;
	}
	
	header .icons {
		display: inline-block;
		border: 1px solid red;
		width: 400px;
		height: 50px;
		padding-left: 10px;
		background-color: lightgray;
		border-radius: 15px;
		margin-top: 15px;
	}
	
	header #logo {
		position: absolute;
		left: 48%;
		margin-top: 20px;
	}
	
	header div nav.second>ul>li {
		display: inline;
		font-size: 12px;
	}
	
	header div nav.second ul li a {
		text-decoration: none;
		color: black;
	}
	
	header div nav.second ul {
		float: right;
		margin-top: -50px;
		margin-right: 10px;
	}
	
	header div nav.second ul li div {
		background-color: gray;
		width: 1px;
		height: 7px;
		display: inline-block;
		margin: 0 7px 0 7px;
	}
/**
	footer
*/
	footer {
		background-color: rgb(253, 252, 240);
		margin-top: 14.5%;
		clear: both;
	}
	
	footer>div.info {
		width: 1000px;
		margin: auto;
	}
	
	footer .info>.f_logo {
		float: left;
		padding: 30px 70px 50px 10px;
	}
	
	footer .info>.a {
		display: inline-block;
		font-size: 12px;
		padding: 5px 5px;
	}
	
	footer .sns {
		display: inline-block;
		float: right;
		width: 100px;
		height: 100px;
		margin-top: -75px;
	}